@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
}

legend {
    padding: 0px 5px;
}

.form-control {
    margin: 10px;
}

fieldset {
    border-radius: 10px;
}
input {
    display: block;
    position: relative;
    margin: -20px 80px 0px;
    border:1px solid rgb(120, 120, 120) ;
    border-radius: 7px ;
    padding: 5px;
}

input:focus {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    outline: 0;
}

label {
    font-weight: bold;
}

.btnsubmit {
    background-color: rgba(0, 150, 255, 0.8);
    border-radius: 5px;
    border: 1px solid #cacaca;
    color: #FFF;
    padding: 5px 20px;
    outline: 0;
    margin: 5px 10px;
}

.btnsubmit:hover {    
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#showUsers {
    display: none;
    margin: 20px 0px;
}

table th {
    background-color: rgb(120, 120, 120);
}

table td {
    background-color: rgba(120, 120, 120, 0.2);
    padding: 10px;
}